name: deploy
on:
  push:
    branches:
      - main

jobs:
  unittests:
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v3
    - name: Copy .env
      working-directory: code/www/PIPSIntervention
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      working-directory: code/www/PIPSIntervention
      run: composer install
    - name: Generate key
      working-directory: code/www/PIPSIntervention
      run: php artisan key:generate
    - name: Directory Permissions
      working-directory: code/www/PIPSIntervention
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      working-directory: code/www/PIPSIntervention
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      working-directory: code/www/PIPSIntervention
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
      
  deploy:
    runs-on: ubuntu-latest
    needs: [unittests]
    steps:
      - name: Deployment
        uses: appleboy/ssh-action@master        
        with:
          host: "pips.octru.ox.ac.uk"
          key: ${{ secrets.SSH_KEY }}
          username: "pips"
          script: |
            MY_BASE_DIR="intervention"
            MY_CO_DIR="pipsrepo"
            if [ -d "$MY_BASE_DIR" ]; then
             cd $MY_BASE_DIR
             cd $MY_CO_DIR
             git pull --ff-only
             cd code/www/PIPSIntervention
             ea-php80 /opt/cpanel/composer/bin/composer update
             ea-php80 artisan migrate
            fi
