name: deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        uses: appleboy/ssh-action@master
        with:
          host: "pips.octru.ox.ac.uk"
          key: ${{ secrets.SSH_KEY }}
          username: "pips"
          script: |
            MY_BASE_DIR="intervention"
            MY_CO_DIR="pipsrepo"
            if [ -d "$MY_BASE_DIR" ]; then
             cd $MY_BASE_DIR
             cd $MY_CO_DIR
             git pull --ff-only
             cd code/www/PIPSIntervention
             composer install
             php artisan migrate
            fi
