name: deploy
on:
  push:
    branches:
      - main

jobs:
  unittests:
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v3
    - name: Copy .env
      working-directory: code/www/PIPSIntervention
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      working-directory: code/www/PIPSIntervention
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress
    - name: Generate key
      working-directory: code/www/PIPSIntervention
      run: php artisan key:generate
    - name: Directory Permissions
      working-directory: code/www/PIPSIntervention
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      working-directory: code/www/PIPSIntervention
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      working-directory: code/www/PIPSIntervention
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit --testdox
      
  cypress-run:
    runs-on: ubuntu-latest
    needs: [unittests]
    
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: default
          MYSQL_USER: myuser
          MYSQL_PASSWORD: myuser
          DB_HOST: 127.0.0.1
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=3
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Copy .env
        working-directory: code/www/PIPSIntervention
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        working-directory: code/www/PIPSIntervention
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress
      - name: Use Node.js
        uses: actions/setup-node@v3
      - name: Generate key
        working-directory: code/www/PIPSIntervention
        run: php artisan key:generate
      - name: Directory Permissions
        working-directory: code/www/PIPSIntervention
        run: chmod -R 777 storage bootstrap/cache
      - name: Migrate MySQL DB
        working-directory: code/www/PIPSIntervention
        env: 
          DB_CONNECTION: mysql
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: default
          MYSQL_USER: myuser
          MYSQL_PASSWORD: myuser
        run: php artisan migrate:fresh --seed
      - name: Run Cypress UI tests
        working-directory: code/www/PIPSIntervention/tests/Frontend
        run: |
          npx browserslist@latest --update-db
          ..\..\node_modules\.bin\cypress run
          
  deploy:
    runs-on: ubuntu-latest
    needs: [unittests, cypress-run]
    steps:
      - name: Deployment
        uses: appleboy/ssh-action@master        
        with:
          host: "pips.octru.ox.ac.uk"
          key: ${{ secrets.SSH_KEY }}
          username: "pips"
          script: |
            MY_BASE_DIR="intervention"
            MY_CO_DIR="pipsrepo"
            if [ -d "$MY_BASE_DIR" ]; then
             cd $MY_BASE_DIR
             cd $MY_CO_DIR
             git pull --ff-only
             cd code/www/PIPSIntervention
             ea-php80 /opt/cpanel/composer/bin/composer update
             ea-php80 artisan migrate
            fi
